<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	<div class="detailed">
		<div class="detailed-wrap">
			<section class="detailed-first">
				<div class="container">
					<div class="breadcrumb">
						<a href="" class="breadcrumb-link">Home</a>
						<a href="" class="breadcrumb-link">Media </a>
						<a href="" class="breadcrumb-link">Students Portfolios</a>
						<a href="" class="breadcrumb-link active">Students Detailed Page</a>
					</div>
					<div class="detailed-row">
						<div class="detailed-left">
							<div class="detailed-left-top">
								<div class="detailed-left-one">
									<img src="img/img.png" alt="user image" class="detailed-img">
									<a href="#" class="detailed-blue detailed-btn">Download CV</a>
									<a href="#" class="detailed-green detailed-btn">Contact student</a>
								</div>
								<div class="detailed-left-two">
									<p class="detailed-name">
										Kamila Cramostova
										<span class="detailed-span">22 years old</span>
									</p>
									<ul class="detailed-main">
										<li class="detailed-list">
											<p class="detailed-list-name">Faculty</p>
											<p class="detailed-list-info">Business</p>
										</li>
										<li class="detailed-list">
											<p class="detailed-list-name">Course attended</p>
											<p class="detailed-list-info"> Dual Advanced Diploma of Business,
												Leadership and Managemen</p>
										</li>
										<li class="detailed-list">
											<p class="detailed-list-name">Education started</p>
											<p class="detailed-list-info">01/10/2012</p>
										</li>
										<li class="detailed-list">
											<p class="detailed-list-name">Available on</p>
											<p class="detailed-list-info">02/06/2016</p>
										</li>
										<li class="detailed-list detailed-list-lang">
											<p class="detailed-list-name">Languages</p>
											<p class="detailed-list-info">English, French, German</p>
										</li>
									</ul>
								</div>
							</div>

							<div class="detailed-history">
								<div class="detailed-history-one">
									<div class="detailed-history-item">
										<p class="detailed-history-title">Employment History</p>
										<div class="detailed-history-col">
											<p class="detailed-history-name">PM / Recruiter </p>
											<p class="detailed-history-span">April 2015 – Present</p>
											<p class="detailed-history-span">Freelance</p>
										</div>
										<div class="detailed-history-col">
											<p class="detailed-history-name">Project Manager</p>
											<p class="detailed-history-span">April 2015 – Present</p>
											<p class="detailed-history-span">Freelance</p>
										</div>
									</div>
									<div class="detailed-history-item">
										<p class="detailed-history-title">education</p>
										<div class="detailed-history-col">
											<p class="detailed-history-name">Master’s Degree in State Governance</p>
											<p class="detailed-history-span">2008 – 2009</p>
											<p class="detailed-history-span">Cherkassy National University</p>
										</div>
									</div>
								</div>
								<ul class="detailed-history-two">
									<li class="detailed-list">
										<p class="detailed-list-name"></p>
										<p class="detailed-list-info">
											Lorem ipsum dolor sit amet, consectetur adipiscing
											elit. Aenean euismod bibendum laoreet. Proin gravida
											dolor sit amet lacus accumsan et viverra justo
										</p>

									</li>
									<li class="detailed-list">
										<p class="detailed-list-name"></p>
										<p class="detailed-list-info">
											Lorem ipsum dolor sit amet, consectetur adipiscing
											elit. Aenean euismod bibendum laoreet. Proin gravida
											dolor sit amet lacus accumsan et viverra justo
										</p>

									</li>
								</ul>
							</div>
						</div>
						<div class="detailed-right">
							<ul class="detailed-dropdown">
								<li class="detailed-dropdown-list">
									<div class="detailed-dropdown-item">Search for Jobs <img src="img/arrow-down.png" alt="" class="detailed-dropdown-arrow"></div>
									<ul class="detailed-lv1">
										<li class="detailed-lv1-list"><a href="">Administration Assistant</a></li>
										<li class="detailed-lv1-list"><a href="">Clerical Worker</a></li>
										<li class="detailed-lv1-list"><a href="">Data Entry Operator</a></li>
										<li class="detailed-lv1-list"><a href="">Information Desk Clerk</a></li>
										<li class="detailed-lv1-bottom">
											<p class="detailed-list-name">Interested in   </p>
											<p class="detailed-list-info">Employment (full-time)</p>
										</li>
									</ul>
								</li>
								<li class="detailed-dropdown-list">
									<div class="detailed-dropdown-item">About Me <img src="img/arrow-down.png" alt="" class="detailed-dropdown-arrow"></div>
									<ul class="detailed-lv1">
										<li class="detailed-lv1-list"><a href="">Administration Assistant</a></li>
										<li class="detailed-lv1-list"><a href="">Clerical Worker</a></li>
										<li class="detailed-lv1-list"><a href="">Data Entry Operator</a></li>
										<li class="detailed-lv1-list"><a href="">Information Desk Clerk</a></li>
										<li class="detailed-lv1-bottom">
											<p class="detailed-list-name">Interested in   </p>
											<p class="detailed-list-info">Employment (full-time)</p>
										</li>
									</ul>
								</li>
								<li class="detailed-dropdown-list">
									<div class="detailed-dropdown-item">Hobbies <img src="img/arrow-down.png" alt="" class="detailed-dropdown-arrow"></div>
									<ul class="detailed-lv1">
										<li class="detailed-lv1-list"><a href="">Administration Assistant</a></li>
										<li class="detailed-lv1-list"><a href="">Clerical Worker</a></li>
										<li class="detailed-lv1-list"><a href="">Data Entry Operator</a></li>
										<li class="detailed-lv1-list"><a href="">Information Desk Clerk</a></li>
										<li class="detailed-lv1-bottom">
											<p class="detailed-list-name">Interested in   </p>
											<p class="detailed-list-info">Employment (full-time)</p>
										</li>
									</ul>
								</li>
							</ul>
						</div>

					</div>

				</div>
			</section>
			<section class="detailed-second ">
				<div class="container">
					<h2 class="detailed-title">certifications</h2>
					<div class="certificate">
						<a href="#" class="certificate-card">
							<img src="img/certifications-1.jpg" alt="" class="certificate-img">
							<p class="certificate-title">title</p>
							<p class="certificate-text">
								Certification license number
								<span class="certificate-link">https://www.coursera.org/</span>
							</p>
							<p class="certificate-date">Date issued</p>
						</a>
						<a href="#" class="certificate-card">
							<img src="img/certifications-2.jpg" alt="" class="certificate-img">
							<p class="certificate-title">title</p>
							<p class="certificate-text">
								Certification license number
								<span class="certificate-link">https://www.coursera.org/</span>
							</p>
							<p class="certificate-date">Date issued</p>
						</a>
						<a href="#" class="certificate-card">
							<img src="img/certifications-3.jpg" alt="" class="certificate-img">
							<p class="certificate-title">title</p>
							<p class="certificate-text">
								Certification license number
								<span class="certificate-link">https://www.coursera.org/</span>
							</p>
							<p class="certificate-date">Date issued</p>
						</a>
						<a href="#" class="certificate-card">
							<img src="img/certifications-4.jpg" alt="" class="certificate-img">
							<p class="certificate-title">title</p>
							<p class="certificate-text">
								Certification license number
								<span class="certificate-link">https://www.coursera.org/</span>
							</p>
							<p class="certificate-date">Date issued</p>
						</a>
					</div>
				</div>
			</section>
			<section class="detailed-third ">
				<div class="container">
					<h2 class="detailed-title">Portfolio</h2>
					<div class="portfolio">
						<a href="#" class="certificate-card">
							<img src="img/portfolio-1.jpg" alt="" class="certificate-img">
							<p class="portfolio-title">Envirotech history</p>
							<p class="portfolio-text">
								Lorem ipsum dolor sit
								consectetur adipiscing elit.
								Aenean euismod bibendum laoreet.
							</p>
						</a>
						<a href="#" class="certificate-card">
							<img src="img/portfolio-2.jpg" alt="" class="certificate-img">
							<p class="portfolio-title">Envirotech history</p>
							<p class="portfolio-text">
								Lorem ipsum dolor sit
								consectetur adipiscing elit.
								Aenean euismod bibendum laoreet.
							</p>
						</a>
						<a href="#" class="certificate-card">
							<img src="img/portfolio-3.jpg" alt="" class="certificate-img">
							<p class="portfolio-title">Envirotech history</p>
							<p class="portfolio-text">
								Lorem ipsum dolor sit
								consectetur adipiscing elit.
								Aenean euismod bibendum laoreet.
							</p>
						</a>
						<a href="#" class="certificate-card">
							<img src="img/portfolio-4.jpg" alt="" class="certificate-img">
							<p class="portfolio-title">Envirotech history</p>
							<p class="portfolio-text">
								Lorem ipsum dolor sit
								consectetur adipiscing elit.
								Aenean euismod bibendum laoreet.
							</p>
						</a>
					</div>
				</div>
			</section>
		</div>


	</div>


	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
