<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>

<div class="recruit">
    <section class="recruit-first">
        <div class="container">
            <div class="recruit-first-flex">
                <h2 class="recruit-title"><span class="recruit-title-span">Recruit </span> our students</h2>
                <form class="recruit-form">
                    <div class="recruit-flex">
                        <select class="recruit-select" >
                            <option value="industry">industry</option>
                            <option value="industry">industry</option>
                            <option value="industry">industry</option>
                        </select>
                        <select class="recruit-select" >
                            <option value="industry">English Level</option>
                            <option value="industry">English Level</option>
                            <option value="industry">English Level</option>
                        </select>
                        <select class="recruit-select" >
                            <option value="industry">Languages</option>
                            <option value="industry">Languages</option>
                            <option value="industry">Languages</option>
                        </select>
                        <select class="recruit-select">
                            <option value="industry">employment type</option>
                            <option value="industry">employment type</option>
                            <option value="industry">employment type</option>
                        </select>
                        <select class="recruit-select">
                            <option value="industry">workload</option>
                            <option value="industry">workload</option>
                            <option value="industry">workload</option>
                        </select>
                        <div class="recruit-date">
                            <img src="img/calendar2.png" alt="" class="recruit-date-icon">
                            <div class="recruit-date-col">
                                <p class="recruit-date-text">date of availability</p>
                                <input type="text" class="recruit-datepicker">
                            </div>
                        </div>
                    </div>
                    <div class="recruit-form-apply">
                        <button type="reset" class="recruit-form-clear">clear filtEr</button>
                        <button type="submit" class="recruit-form-btn">apply</button>
                    </div>
                </form>
            </div>

        </div>
    </section>
    <section class="recruit-second">
        <div class="container">
            <div class="recruit-flex">
                <div class="recruit-card">
                    <div class="recruit-top">
                        <img src="img/recruit-img-2.jpg" alt="" class="recruit-img">
                        <div class="recruit-hover">
                            <div class="recruit-col">
                                <p class="recruit-top-title">
                                    management II course
                                    <span class="recruit-top-span">Program started 02/02/2016</span>
                                </p>
                                <p class="recruit-top-title">
                                    English (fluent)
                                    <span class="recruit-top-span">Spanish</span>
                                </p>
                                <p class="recruit-top-title">
                                    Full-time employment
                                    <span class="recruit-top-span">Available from 08/08/201</span>
                                </p>
                            </div>
                            <a href="#" class="recruit-datails">view datails</a>
                        </div>
                    </div>
                    <div class="recruit-bottom">
                        <p class="recruit-bottom-main">Elis smith</p>
                        <p class="recruit-bottom-title">
                            Previous Employment
                            <span class="recruit-bottom-span">Mc Donalds - London</span>
                        </p>
                        <p class="recruit-bottom-title">
                            Education
                            <span class="recruit-bottom-span">Digital Marketing - New York</span>
                        </p>
                        <p class="recruit-bottom-title">
                            seeking
                            <span class="recruit-bottom-span">Some new experiance</span>
                        </p>
                    </div>
                </div>
                <div class="recruit-card">
                    <div class="recruit-top">
                        <img src="img/recruit-img-2.jpg" alt="" class="recruit-img">
                        <div class="recruit-hover">
                            <div class="recruit-col">
                                <p class="recruit-top-title">
                                    management II course
                                    <span class="recruit-top-span">Program started 02/02/2016</span>
                                </p>
                                <p class="recruit-top-title">
                                    English (fluent)
                                    <span class="recruit-top-span">Spanish</span>
                                </p>
                                <p class="recruit-top-title">
                                    Full-time employment
                                    <span class="recruit-top-span">Available from 08/08/201</span>
                                </p>
                            </div>
                            <a href="#" class="recruit-datails">view datails</a>
                        </div>
                    </div>
                    <div class="recruit-bottom">
                        <p class="recruit-bottom-main">Elis smith</p>
                        <p class="recruit-bottom-title">
                            Previous Employment
                            <span class="recruit-bottom-span">Mc Donalds - London</span>
                        </p>
                        <p class="recruit-bottom-title">
                            Education
                            <span class="recruit-bottom-span">Digital Marketing - New York</span>
                        </p>
                        <p class="recruit-bottom-title">
                            seeking
                            <span class="recruit-bottom-span">Some new experiance</span>
                        </p>
                    </div>
                </div>
                <div class="recruit-card">
                    <div class="recruit-top">
                        <img src="img/recruit-img-2.jpg" alt="" class="recruit-img">
                        <div class="recruit-hover">
                            <div class="recruit-col">
                                <p class="recruit-top-title">
                                    management II course
                                    <span class="recruit-top-span">Program started 02/02/2016</span>
                                </p>
                                <p class="recruit-top-title">
                                    English (fluent)
                                    <span class="recruit-top-span">Spanish</span>
                                </p>
                                <p class="recruit-top-title">
                                    Full-time employment
                                    <span class="recruit-top-span">Available from 08/08/201</span>
                                </p>
                            </div>
                            <a href="#" class="recruit-datails">view datails</a>
                        </div>
                    </div>
                    <div class="recruit-bottom">
                        <p class="recruit-bottom-main">Elis smith</p>
                        <p class="recruit-bottom-title">
                            Previous Employment
                            <span class="recruit-bottom-span">Mc Donalds - London</span>
                        </p>
                        <p class="recruit-bottom-title">
                            Education
                            <span class="recruit-bottom-span">Digital Marketing - New York</span>
                        </p>
                        <p class="recruit-bottom-title">
                            seeking
                            <span class="recruit-bottom-span">Some new experiance</span>
                        </p>
                    </div>
                </div>
                <div class="recruit-card">
                    <div class="recruit-top">
                        <img src="img/recruit-img-2.jpg" alt="" class="recruit-img">
                        <div class="recruit-hover">
                            <div class="recruit-col">
                                <p class="recruit-top-title">
                                    management II course
                                    <span class="recruit-top-span">Program started 02/02/2016</span>
                                </p>
                                <p class="recruit-top-title">
                                    English (fluent)
                                    <span class="recruit-top-span">Spanish</span>
                                </p>
                                <p class="recruit-top-title">
                                    Full-time employment
                                    <span class="recruit-top-span">Available from 08/08/201</span>
                                </p>
                            </div>
                            <a href="#" class="recruit-datails">view datails</a>
                        </div>
                    </div>
                    <div class="recruit-bottom">
                        <p class="recruit-bottom-main">Elis smith</p>
                        <p class="recruit-bottom-title">
                            Previous Employment
                            <span class="recruit-bottom-span">Mc Donalds - London</span>
                        </p>
                        <p class="recruit-bottom-title">
                            Education
                            <span class="recruit-bottom-span">Digital Marketing - New York</span>
                        </p>
                        <p class="recruit-bottom-title">
                            seeking
                            <span class="recruit-bottom-span">Some new experiance</span>
                        </p>
                    </div>
                </div>
                <div class="recruit-card">
                    <div class="recruit-top">
                        <img src="img/recruit-img-2.jpg" alt="" class="recruit-img">
                        <div class="recruit-hover">
                            <div class="recruit-col">
                                <p class="recruit-top-title">
                                    management II course
                                    <span class="recruit-top-span">Program started 02/02/2016</span>
                                </p>
                                <p class="recruit-top-title">
                                    English (fluent)
                                    <span class="recruit-top-span">Spanish</span>
                                </p>
                                <p class="recruit-top-title">
                                    Full-time employment
                                    <span class="recruit-top-span">Available from 08/08/201</span>
                                </p>
                            </div>
                            <a href="#" class="recruit-datails">view datails</a>
                        </div>
                    </div>
                    <div class="recruit-bottom">
                        <p class="recruit-bottom-main">Elis smith</p>
                        <p class="recruit-bottom-title">
                            Previous Employment
                            <span class="recruit-bottom-span">Mc Donalds - London</span>
                        </p>
                        <p class="recruit-bottom-title">
                            Education
                            <span class="recruit-bottom-span">Digital Marketing - New York</span>
                        </p>
                        <p class="recruit-bottom-title">
                            seeking
                            <span class="recruit-bottom-span">Some new experiance</span>
                        </p>
                    </div>
                </div>
                <div class="recruit-card">
                    <div class="recruit-top">
                        <img src="img/recruit-img-2.jpg" alt="" class="recruit-img">
                        <div class="recruit-hover">
                            <div class="recruit-col">
                                <p class="recruit-top-title">
                                    management II course
                                    <span class="recruit-top-span">Program started 02/02/2016</span>
                                </p>
                                <p class="recruit-top-title">
                                    English (fluent)
                                    <span class="recruit-top-span">Spanish</span>
                                </p>
                                <p class="recruit-top-title">
                                    Full-time employment
                                    <span class="recruit-top-span">Available from 08/08/201</span>
                                </p>
                            </div>
                            <a href="#" class="recruit-datails">view datails</a>
                        </div>
                    </div>
                    <div class="recruit-bottom">
                        <p class="recruit-bottom-main">Elis smith</p>
                        <p class="recruit-bottom-title">
                            Previous Employment
                            <span class="recruit-bottom-span">Mc Donalds - London</span>
                        </p>
                        <p class="recruit-bottom-title">
                            Education
                            <span class="recruit-bottom-span">Digital Marketing - New York</span>
                        </p>
                        <p class="recruit-bottom-title">
                            seeking
                            <span class="recruit-bottom-span">Some new experiance</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/common.js"></script>
</body>
</html>
